// lan
$direction: 'en';
$floatLeft: left;
$floatRight:right;
$textLeft:left;
$textRight:right;

// colors
$white: #fff;
$offWhite:#f3f3f3;
$textColor:#fff;
$altTextColor:#333;
$altTextColor2:#666;
$mainGreen:#97981a;
$subGreen:#b5b51f;
$mainButter:#fbb654;
$subButter:#fcc477;
$mainBrown:#8a6644;
$subBrown:#b08762;
$error:#ff4758;
$success:#30cc71;

// font
$font: 'Cairo',
Helvetica,
Arial,
sans-serif;

// other
$radius:3px;