// !START SEO
meta(name="description" content="Track your orders easily.")
meta(name="author" content="Eissa Saber")
// START SHARE
// All Websites
meta(property="og:title" content="Shipment Tracker")
meta(property="og:description" content="Track your orders easily.")
meta(property="og:image" content="https://eissa.xyz/shipment-tracker/img/thumbnail.jpg")
meta(property="og:url" content="https://eissa.xyz/shipment-tracker")
meta(property="og:site_name" content="Shipment Tracker")
meta(property="og:type" content="website")
// Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="Shipment Tracker")
meta(name="twitter:description" content="Track your orders easily.")
meta(name="twitter:image" content="https://eissa.xyz/shipment-tracker/img/thumbnail.jpg")
// END SHARE
link(href="https://eissa.xyz/shipment-tracker" rel="canonical")
meta(name="robots" content="index, follow")
// !END SEO
